---
CompileFlags:
  Add: [-xc++, -Wall, -Wnarrowing, -I, include, -std=c++20]
  Compiler: clang++
Index:
  StandardLibrary: Yes
ClangTidy:
  Diagnostics:
    UnusedIncludes: Strict
  Add:
    - clang-diagnostic-*
    - clang-analyzer-*
    - *
  Remove:
    - fuchsia-*
    - llvm-header-guard
    - llvmlibc-*
  CheckOptions:
    abseil-string-find-startswith.AbseilStringsMatchHeader: 'absl/strings/match.h'
    abseil-string-find-startswith.IncludeStyle: llvm
    abseil-string-find-startswith.StringLikeClasses: '::std::basic_string'
    bugprone-argument-comment.CommentBoolLiterals: '0'
    bugprone-argument-comment.CommentCharacterLiterals: '0'
    bugprone-argument-comment.CommentFloatLiterals: '0'
    bugprone-argument-comment.CommentIntegerLiterals: '0'
    bugprone-argument-comment.CommentNullPtrs: '0'
    bugprone-argument-comment.CommentStringLiterals: '0'
    bugprone-argument-comment.CommentUserDefinedLiterals: '0'
    bugprone-argument-comment.StrictMode: '0'
    bugprone-assert-side-effect.AssertMacros: assert
    bugprone-assert-side-effect.CheckFunctionCalls: '0'
    bugprone-dangling-handle.HandleClasses: 'std::basic_string_view;std::experimental::basic_string_view'
    bugprone-exception-escape.FunctionsThatShouldNotThrow: ''
    bugprone-exception-escape.IgnoredExceptions: ''
    bugprone-misplaced-widening-cast.CheckImplicitCasts: '0'
    bugprone-sizeof-expression.WarnOnSizeOfCompareToConstant: '1'
    bugprone-sizeof-expression.WarnOnSizeOfConstant: '1'
    bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression: '0'
    bugprone-sizeof-expression.WarnOnSizeOfThis: '1'
    bugprone-string-constructor.LargeLengthThreshold: '8388608'
    bugprone-string-constructor.WarnOnLargeLength: '1'
    bugprone-suspicious-enum-usage.StrictMode: '0'
    bugprone-suspicious-missing-comma.MaxConcatenatedTokens: '5'
    bugprone-suspicious-missing-comma.RatioThreshold: '0.200000'
    bugprone-suspicious-missing-comma.SizeThreshold: '5'
    bugprone-suspicious-string-compare.StringCompareLikeFunctions: ''
    bugprone-suspicious-string-compare.WarnOnImplicitComparison: '1'
    bugprone-suspicious-string-compare.WarnOnLogicalNotComparison: '0'
    bugprone-too-small-loop-variable.MagnitudeBitsUpperLimit: '16'
    bugprone-unhandled-self-assignment.WarnOnlyIfThisHasSuspiciousField: '1'
    bugprone-unused-return-value.CheckedFunctions: '::std::async;::std::launder;::std::remove;::std::remove_if;::std::unique;::std::unique_ptr::release;::std::basic_string::empty;::std::vector::empty'
    cert-dcl16-c.IgnoreMacros: '1'
    cert-dcl16-c.NewSuffixes: 'L;LL;LU;LLU'
    cert-dcl59-cpp.HeaderFileExtensions: ',h,hh,hpp,hxx'
    cert-err09-cpp.CheckThrowTemporaries: '1'
    cert-err61-cpp.CheckThrowTemporaries: '1'
    cert-msc32-c.DisallowedSeedTypes: 'time_t,std::time_t'
    cert-msc51-cpp.DisallowedSeedTypes: 'time_t,std::time_t'
    cert-oop11-cpp.IncludeStyle: llvm
    cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField: '0'
    cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues: '1.0;100.0;'
    cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues: '1;2;3;4;'
    cppcoreguidelines-explicit-virtual-functions.FinalSpelling: final
    cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors: '1'
    cppcoreguidelines-explicit-virtual-functions.OverrideSpelling: override
    cppcoreguidelines-macro-usage.AllowedRegexp: '^DEBUG_*'
    cppcoreguidelines-macro-usage.CheckCapsOnly: '0'
    cppcoreguidelines-macro-usage.IgnoreCommandLineMacros: '1'
    cppcoreguidelines-no-malloc.Allocations: '::malloc;::calloc'
    cppcoreguidelines-no-malloc.Deallocations: '::free'
    cppcoreguidelines-no-malloc.Reallocations: '::realloc'
    cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: '1'
    cppcoreguidelines-owning-memory.LegacyResourceConsumers: '::free;::realloc;::freopen;::fclose'
    cppcoreguidelines-owning-memory.LegacyResourceProducers: '::malloc;::aligned_alloc;::realloc;::calloc;::fopen;::freopen;::tmpfile'
    cppcoreguidelines-pro-bounds-constant-array-index.GslHeader: ''
    cppcoreguidelines-pro-bounds-constant-array-index.IncludeStyle: 'llvm'
    cppcoreguidelines-pro-type-member-init.IgnoreArrays: '0'
    cppcoreguidelines-pro-type-member-init.UseAssignment: '0'
    cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: '0'
    cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: '0'
    google-build-namespaces.HeaderFileExtensions: ',h,hh,hpp,hxx'
    google-global-names-in-headers.HeaderFileExtensions: ',h,hh,hpp,hxx'
    google-readability-braces-around-statements.ShortStatementLines: '1'
    google-readability-function-size.BranchThreshold: '4294967295'
    google-readability-function-size.LineThreshold: '4294967295'
    google-readability-function-size.NestingThreshold: '4294967295'
    google-readability-function-size.ParameterThreshold: '4294967295'
    google-readability-function-size.StatementThreshold: '800'
    google-readability-function-size.VariableThreshold: '4294967295'
    google-readability-namespace-comments.ShortNamespaceLines: '10'
    google-readability-namespace-comments.SpacesBeforeComments: '2'
    google-runtime-int.SignedTypePrefix: int
    google-runtime-int.TypeSuffix: ''
    google-runtime-int.UnsignedTypePrefix: uint
    google-runtime-references.WhiteListTypes: ''
    hicpp-braces-around-statements.ShortStatementLines: '0'
    hicpp-function-size.BranchThreshold: '4294967295'
    hicpp-function-size.LineThreshold: '4294967295'
    hicpp-function-size.NestingThreshold: '4294967295'
    hicpp-function-size.ParameterThreshold: '4294967295'
    hicpp-function-size.StatementThreshold: '800'
    hicpp-function-size.VariableThreshold: '4294967295'
    hicpp-member-init.IgnoreArrays: '0'
    hicpp-member-init.UseAssignment: '0'
    hicpp-move-const-arg.CheckTriviallyCopyableMove: '1'
    hicpp-multiway-paths-covered.WarnOnMissingElse: '0'
    hicpp-named-parameter.IgnoreFailedSplit: '0'
    hicpp-no-malloc.Allocations: '::malloc;::calloc'
    hicpp-no-malloc.Deallocations: '::free'
    hicpp-no-malloc.Reallocations: '::realloc'
    hicpp-special-member-functions.AllowMissingMoveFunctions: '0'
    hicpp-special-member-functions.AllowSoleDefaultDtor: '0'
    hicpp-uppercase-literal-suffix.IgnoreMacros: '1'
    hicpp-uppercase-literal-suffix.NewSuffixes: ''
    hicpp-use-auto.MinTypeNameLength: '5'
    hicpp-use-auto.RemoveStars: '0'
    hicpp-use-emplace.ContainersWithPushBack: '::std::vector;::std::list;::std::deque'
    hicpp-use-emplace.SmartPointers: '::std::shared_ptr;::std::unique_ptr;::std::auto_ptr;::std::weak_ptr'
    hicpp-use-emplace.TupleMakeFunctions: '::std::make_pair;::std::make_tuple'
    hicpp-use-emplace.TupleTypes: '::std::pair;::std::tuple'
    hicpp-use-equals-default.IgnoreMacros: '1'
    hicpp-use-equals-delete.IgnoreMacros: '1'
    hicpp-use-noexcept.ReplacementString: ''
    hicpp-use-noexcept.UseNoexceptFalse: '1'
    hicpp-use-nullptr.NullMacros: ''
    hicpp-use-override.FinalSpelling: final
    hicpp-use-override.IgnoreDestructors: '0'
    hicpp-use-override.OverrideSpelling: override
    llvm-namespace-comment.ShortNamespaceLines: '1'
    llvm-namespace-comment.SpacesBeforeComments: '1'
    misc-definitions-in-headers.HeaderFileExtensions: ',h,hh,hpp,hxx'
    misc-definitions-in-headers.UseHeaderFileExtension: '1'
    misc-throw-by-value-catch-by-reference.CheckThrowTemporaries: '1'
    misc-unused-parameters.StrictMode: '0'
    modernize-loop-convert.MaxCopySize: '16'
    modernize-loop-convert.MinConfidence: reasonable
    modernize-loop-convert.NamingStyle: CamelCase
    modernize-make-shared.IgnoreMacros: '1'
    modernize-make-shared.IncludeStyle: 'llvm'
    modernize-make-shared.MakeSmartPtrFunction: 'std::make_shared'
    modernize-make-shared.MakeSmartPtrFunctionHeader: memory
    modernize-make-unique.IgnoreMacros: '1'
    modernize-make-unique.IncludeStyle: 'llvm'
    modernize-make-unique.MakeSmartPtrFunction: 'std::make_unique'
    modernize-make-unique.MakeSmartPtrFunctionHeader: memory
    modernize-pass-by-value.IncludeStyle: llvm
    modernize-pass-by-value.ValuesOnly: '0'
    modernize-raw-string-literal.ReplaceShorterLiterals: '0'
    modernize-replace-auto-ptr.IncludeStyle: llvm
    modernize-replace-random-shuffle.IncludeStyle: llvm
    modernize-use-auto.MinTypeNameLength: '5'
    modernize-use-auto.RemoveStars: '0'
    modernize-use-default-member-init.IgnoreMacros: '1'
    modernize-use-default-member-init.UseAssignment: '0'
    modernize-use-emplace.ContainersWithPushBack: '::std::vector;::std::list;::std::deque'
    modernize-use-emplace.SmartPointers: '::std::shared_ptr;::std::unique_ptr;::std::auto_ptr;::std::weak_ptr'
    modernize-use-emplace.TupleMakeFunctions: '::std::make_pair;::std::make_tuple'
    modernize-use-emplace.TupleTypes: '::std::pair;::std::tuple'
    modernize-use-equals-default.IgnoreMacros: '1'
    modernize-use-equals-delete.IgnoreMacros: '1'
    modernize-use-nodiscard.ReplacementString: '[[nodiscard]]'
    modernize-use-noexcept.ReplacementString: ''
    modernize-use-noexcept.UseNoexceptFalse: '1'
    modernize-use-nullptr.NullMacros: 'NULL'
    modernize-use-override.FinalSpelling: final
    modernize-use-override.IgnoreDestructors: '0'
    modernize-use-override.OverrideSpelling: override
    modernize-use-transparent-functors.SafeMode: '0'
    modernize-use-using.IgnoreMacros: '1'
    objc-forbidden-subclassing.ForbiddenSuperClassNames: 'ABNewPersonViewController;ABPeoplePickerNavigationController;ABPersonViewController;ABUnknownPersonViewController;NSHashTable;NSMapTable;NSPointerArray;NSPointerFunctions;NSTimer;UIActionSheet;UIAlertView;UIImagePickerController;UITextInputMode;UIWebView'
    openmp-exception-escape.IgnoredExceptions: ''
    performance-faster-string-find.StringLikeClasses: 'std::basic_string'
    performance-for-range-copy.AllowedTypes: ''
    performance-for-range-copy.WarnOnAllAutoCopies: '0'
    performance-inefficient-string-concatenation.StrictMode: '0'
    performance-inefficient-vector-operation.VectorLikeClasses: '::std::vector'
    performance-move-const-arg.CheckTriviallyCopyableMove: '1'
    performance-move-constructor-init.IncludeStyle: llvm
    performance-type-promotion-in-math-fn.IncludeStyle: llvm
    performance-unnecessary-copy-initialization.AllowedTypes: ''
    performance-unnecessary-value-param.AllowedTypes: ''
    performance-unnecessary-value-param.IncludeStyle: llvm
    portability-simd-intrinsics.Std: ''
    portability-simd-intrinsics.Suggest: '0'
    readability-braces-around-statements.ShortStatementLines: '0'
    readability-function-size.BranchThreshold: '4294967295'
    readability-function-size.LineThreshold: '4294967295'
    readability-function-size.NestingThreshold: '4294967295'
    readability-function-size.ParameterThreshold: '4294967295'
    readability-function-size.StatementThreshold: '800'
    readability-function-size.VariableThreshold: '4294967295'
    readability-identifier-naming.IgnoreFailedSplit: '0'
    readability-implicit-bool-conversion.AllowIntegerConditions: '0'
    readability-implicit-bool-conversion.AllowPointerConditions: '0'
    readability-inconsistent-declaration-parameter-name.IgnoreMacros: '1'
    readability-inconsistent-declaration-parameter-name.Strict: '0'
    readability-magic-numbers.IgnoredFloatingPointValues: '1.0;100.0;'
    readability-magic-numbers.IgnoredIntegerValues: '1;2;3;4;'
    readability-redundant-smartptr-get.IgnoreMacros: '1'
    readability-simplify-boolean-expr.ChainedConditionalAssignment: '0'
    readability-simplify-boolean-expr.ChainedConditionalReturn: '0'
    readability-simplify-subscript-expr.Types: '::std::basic_string;::std::basic_string_view;::std::vector;::std::array'
    readability-static-accessed-through-instance.NameSpecifierNestingThreshold: '3'
    readability-uppercase-literal-suffix.IgnoreMacros: '1'
    readability-uppercase-literal-suffix.NewSuffixes: ''
    zircon-temporary-objects.Names: ''
